<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/logo.jpg);"></div>
            <h3>Mücahit Batuhan ZANLIER</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Dashboard</a>
        </li>
        <li>
            <a href="#"><span i class="bi bi-file-earmark-person-fill mr-3"></span> Cv'mi İndir</a>
        </li>
        <li>
            <a href="#"><span i class="bi bi-mortarboard-fill mr-3"></span> Eğitim Hayatım</a>
        </li>
        <li>
            <a href="/Category/Index/"><span i class="bi bi-list  mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span i class="fa fa-cog mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="#"><span i class="bi bi-info-circle-fill mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Future/Index/"><span class="fa fa-sign-out mr-3"></span> Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="fa fa-sign-out mr-3"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/Social/Index/"><span <i class="bi bi-github mr-3"></i></span> Sosyal Medya </a>
        </li>
        <li>
            <a href="/Contact/Index/"><span <i class="bi bi-chat-right-text-fill mr-3"></i></i></span> Mesajlar</a>
        </li>
        <li>
            <a href="/Testimonial/Index/"><span class="fa fa-sign-out mr-3"></span> Referanslar</a>
        </li>
        <li>
            <a href="#"><span i class="bi bi-gear-fill mr-3"></span> Ayarlar</a>
        </li>
        <li>
            <a href="#"><span <i class="bi bi-box-arrow-left mr-3"></i></span> Çıkış Yap</a>
        </li>
    </ul>

</nav>
