<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style=" background-image: url('/Templates/meyawo-1.0.0/assets/imgs/csharp.png');">
        <div class="user-logo">
            <div class="img" style="background-image:url(/Templates/meyawo-1.0.0/assets/imgs/batuhan.jpeg); "></div>
            <h3>Mücahit Batuhan ZANLIER</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Dashboard/Index"><span <i class="bi bi-house-gear-fill  mr-3"></i></span> Dashboard</a>
        </li>
        <li>
            <a href="/Default/Index/"><span <i class="bi bi-browser-chrome mr-3"></i></i></span>Siteye Git</a>
        </li>
        <li>
            <a href="/Statistic/Index/"><span <i class="bi bi-bar-chart-line-fill mr-3"></i></span> İslatistikler</a>
        </li>
        <li>
            <a href="/Templates/meyawo-1.0.0/assets/MyCv/batuhan.pdf" download="/Templates/meyawo-1.0.0/assets/MyCv/batuhan.pdf"><span i class="bi bi-file-earmark-person-fill mr-3"></span> Cv'mi İndir</a>
        </li>

        <li>
            <a href="/Category/Index/"><span i class="bi bi-list  mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span i class="fa fa-cog mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/About/Index/"><span i class="bi bi-info-circle-fill mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Future/Index/"><span <i class="bi bi-star mr-3"></i></span> Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="fa fa-sign-out mr-3"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/Social/Index/"><span <i class="bi bi-github mr-3"></i></span> Sosyal Medya </a>
        </li>
        <li>
            <a href="/Contact/Index/"><span <i class="bi bi-chat-right-text-fill mr-3"></i></i></span> Mesajlar</a>
        </li>
        <li>
            <a href="/Testimonial/Index/"><span class="fa fa-sign-out mr-3"></span> Referanslar</a>
        </li>

    </ul>

</nav>
