@model MeyawoPortfolio.Models.TblService
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/AdminLayout/_Layoout.cshtml";
}

<h2>Hizmet Güncelleme Sayfası</h2>
<form method="post">
    <label>Yeni Başlık</label>
    @Html.TextBoxFor(x => x.ServiceID, new { @class = "table table - bordered" })
    <br />
    <label>Yeni Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "table table - bordered" })
    <br />
    <label>Yeni Açıklama</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "table table - bordered" })
    <br />
    <label>Yeni Görsel</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table - bordered" })
    <button class="btn btn-info">Güncelle</button>
    <td><a href="/Service/Index" class="btn btn-outline-danger">Geri dön</a></td>
</form>
