@model List<MeyawoPortfolio.Models.TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layoout.cshtml";
}

<h1>Yeni <span class="badge bg-secondary">Gelen Mesajlar</span></h1>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">

        @foreach (var item in Model)
        {
            <a href="/Contact/DetailMessage/@item.ContactID" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.NameSurname</h5>
                    <small class="text-muted">@item.SendDate</small>
                </div>
                <p class="mb-1">@item.Message</p>
                <small class="text-muted">@item.Email</small>
               
            </a> 
        }

</div>