@model MeyawoPortfolio.Models.TblTestimonial
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/_Layoout.cshtml";
}

<h4>Referans Ekleme Sayfası</h4>
<form method="post">
    <label>Yeni Refans Adı Soyadı</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "table table - bordered" })
    <br />
    <label>Yeni Referans Görseli</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table - bordered" })
    <br />
    <label>Yeni Açıklama</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "table table - bordered" })
    <br />
    <label>Yeni Durum</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "table table - bordered" })
    <button class="btn btn-info">Kaydet</button>
    <a href="/Testimonial/Index" class="btn btn-outline-danger">Geri dön</a>

</form> 